In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_salary=pd.read_csv("Salary.csv")

# 1. Attributes

In [3]:
# gettting access to the shape attribute
df_salary.shape

(14017, 7)

In [4]:
# getting access to the index attribute
df_salary.index

RangeIndex(start=0, stop=14017, step=1)

In [5]:
#getting access to the column attribute
df_salary.columns

Index(['name', 'JobTitle', 'AgencyID', 'Agency', 'HireDate', 'AnnualSalary',
       'GrossPay'],
      dtype='object')

In [6]:
# data types of each column 
df_salary.dtypes

name            object
JobTitle        object
AgencyID        object
Agency          object
HireDate        object
AnnualSalary    object
GrossPay        object
dtype: object

In [7]:
#showing the info of the dataframe
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14017 entries, 0 to 14016
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          14017 non-null  object
 1   JobTitle      14017 non-null  object
 2   AgencyID      14017 non-null  object
 3   Agency        14017 non-null  object
 4   HireDate      14007 non-null  object
 5   AnnualSalary  14017 non-null  object
 6   GrossPay      13748 non-null  object
dtypes: object(7)
memory usage: 766.7+ KB

In [9]:
# describing basic statistics of the dataframe
df_salary.describe()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
count,14017,14017,14017,14017,14007,14017,13748
unique,13864,1056,674,673,4732,1654,13495
top,"Brown,Kevin M",POLICE OFFICER,P04001,R&P-Recreation (part-time) (,06/23/2007,$20800.00,$1230.77
freq,3,1843,324,526,71,352,60

# 2. functions

In [10]:
# obtaining the lenght of the dataframe ( lenght of the rows)
len(df_salary)

14017

In [12]:
# obtaining the highest index of the dataframe
max(df_salary.index)

14016

In [13]:
# obtaining the lowest index of the dataframe
min(df_salary.index)

0

In [14]:
# obtaining the data type 
type(df_salary)

pandas.core.frame.DataFrame

In [15]:
#rounding the values of the dataset 
round(df_salary,2)

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60
...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79