In [1]:
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Selecting one column

## 1.1 Syntax 1

In [12]:
# selecting a column with [] (preferred way to select a column )
df_salary['Agency']

0             OED-Employment Dev (031)
1        States Attorneys Office (045)
2         HLTH-Health Department (026)
3              Police Department (005)
4            M-R Info Technology (001)
                     ...
14012    DPW-Water & Waste Water (509)
14013           COMP-Real Estate (001)
14014          Police Department (224)
14015          Police Department (006)
14016    DPW-Water & Waste Water (206)
Name: Agency, Length: 14017, dtype: object

In [13]:
# check out the data type of the column 
type(df_salary['Agency'])

pandas.core.series.Series

In [14]:
# series : attributes and methods
df_salary['Agency'].index
df_salary['Agency'].head()

0         OED-Employment Dev (031)
1    States Attorneys Office (045)
2     HLTH-Health Department (026)
3          Police Department (005)
4        M-R Info Technology (001)
Name: Agency, dtype: object

## 1.2 Syntax 2

In [17]:
# select a column with . (pitfalls )
df_salary.Agency

0             OED-Employment Dev (031)
1        States Attorneys Office (045)
2         HLTH-Health Department (026)
3              Police Department (005)
4            M-R Info Technology (001)
                     ...
14012    DPW-Water & Waste Water (509)
14013           COMP-Real Estate (001)
14014          Police Department (224)
14015          Police Department (006)
14016    DPW-Water & Waste Water (206)
Name: Agency, Length: 14017, dtype: object

In [18]:
# select the same column using []
df_salary['Agency']

0             OED-Employment Dev (031)
1        States Attorneys Office (045)
2         HLTH-Health Department (026)
3              Police Department (005)
4            M-R Info Technology (001)
                     ...
14012    DPW-Water & Waste Water (509)
14013           COMP-Real Estate (001)
14014          Police Department (224)
14015          Police Department (006)
14016    DPW-Water & Waste Water (206)
Name: Agency, Length: 14017, dtype: object

In [ ]:
#